{% trans_default_domain 'FOSUserBundle' %}

<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    {% endif %}
</div>

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    
    <br><br>
    
    <p>Jesteś na widoku index.html.twig - jesteś zalogowany</p>
    <a href="/teacher/addClass">Stwórz klase</a><br>
    <a href="/register/">Załóż konto ucznia</a><br>
    <a href="/teacher/addSubject">Stwórz przedmiot</a><br>
        
</div>
    
<div>
    <h1>Klasy których jestem wychowawdzą</h1>
    {% for myClass in myClasses %}
        <p><a href="/teacher/myClass/{{myClass.id}}">Klasa {{myClass.title}}</a> - Data utworzenia: {{myClass.creationDate.date}} - Notatka: {{myClass.description}}</p>
    {%else%}
        {{myClasses}}
    {%endfor%}
</div>

<div>
    <h1>Przedmioty które uczę</h1>
    {% for subjectClassTeacher in user.subjectClassTeachers %}
        <p>Klasa {{subjectClassTeacher.class.title}} - <a href="/teacher/subject/{{subjectClassTeacher.class.id}}/{{subjectClassTeacher.subject.id}}">{{subjectClassTeacher.subject.initials}} - {{subjectClassTeacher.subject.name}}</a></p>
    {%else%}
        <p>Brak przedmiotów które uczę</p>
    {%endfor%}
</div>