{% extends "::base.html.twig" %}


{% block body %}

<h3>Widok szczegółowy klasy której użytkownik jest wychowawdzą</h3>

{{ form_start(formSubjectToClass) }}
{{ form_label(formSubjectToClass.subject) }}
{{ form_widget(formSubjectToClass.subject) }}
{{ form_label(formSubjectToClass.teacher) }}
{{ form_widget(formSubjectToClass.teacher) }}
{{ form_label(formSubjectToClass.school_year) }}
{{ form_widget(formSubjectToClass.school_year) }}
{{ form_widget(formSubjectToClass.save) }}
{{ form_end(formSubjectToClass) }}


{{ form_start(formStudentToClass) }}
{{ form_label(formStudentToClass.student) }}
{{ form_widget(formStudentToClass.student) }}
{{ form_widget(formStudentToClass.save) }}
{{ form_end(formStudentToClass) }}

<br><br>


<h3>Klasa {{myClass.title}}</h3>
<p>Przedmioty przypisane do klasy</p>
{% for classSubject in myClass.classSubjects %}
    {{classSubject.subject.initials}} - {{classSubject.subject.name}} - Nauczyciel: {{classSubject.subjectTeacher.username}} <br>
{%else%}
    <p>Klasa nie ma jeszcze przypisanych przemiotów</p>
{%endfor%}

<br><br>

<p>Uczniowie przypisani do klasy</p>
{% for student in myClass.students %}
    {{student.username}}<br>
{%else%}
    <p>Klasa nie ma jeszcze przypisanych uczniow</p>
{%endfor%}

{% endblock %}