{# empty Twig template #}
<script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>


<h3>Widok szczegółowy klasy której użytkownik jest wychowawdzą</h3>

{{ form_start(formSubjects) }}
{{ form_label(formSubjects.subject) }}
{{ form_widget(formSubjects.subject) }}
{{ form_widget(formSubjects.save) }}
{{ form_end(formSubjects) }}


{{ form_start(formStudents) }}
{{ form_label(formStudents.student) }}
{{ form_widget(formStudents.student) }}
{{ form_widget(formStudents.save) }}
{{ form_end(formStudents) }}

<br><br>


<h3>Klasa {{myClass.title}}</h3>
<p>Przedmioty przypisane do klasy</p>
{% for subject in myClass.subjects %}
    {{subject.initials}} - {{subject.name}} - 
    {% if (subject.students is not null) %} 
        {% if (subject.students[0].teacher is null) %}
            <a href="/teacher/addTeacher/{{myClass.id}}/{{subject.id}}">Przypisz nauczyciela</a><br> 
        {%else%}
            Nauczyciel: {{subject.students[0].teacher.username}}<br>
        {% endif %}
    {%else%}
        Klasa nie ma jeszcze uczniów
    {% endif%}
{%else%}
    <p>Klasa nie ma jeszcze przypisanych przemiotów</p>
{%endfor%}

<br><br>

<p>Uczniowie przypisani do klasy</p>
{% for student in myClass.students %}
    {{student.username}}<br>
{%else%}
    <p>Klasa nie ma jeszcze przypisanych uczniow</p>
{%endfor%}
