{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}

{% block body %}

KLASA: {{class.title}} <br>
Przedmiot: {{subject.name}} <br>

<br><br>

<h3>Uczniowie:</h3>

<table>

{%for studentSubject in studentSubjects %}
    <tr>
        <td>{{studentSubject.student.username}}</td>
        {%for rate in studentSubject.rates %}
            <td> {{ rate.rate }} - {{ rate.descriptionRate.description }}</td>
        {%else%}
            <td>Brak ocen</td>
        {%endfor%}
        <td><button class="addRate">Wstaw ocene</button></td>
        <td style="display: none">
            <form class="addRateForm" action=" {{ path('webdiary_teacher_addratetostudent') }}" data-id="{{ studentSubject.id }}">
                OCENA:
                <input type="number" class="rateInput">
                NOTATKA:
                <input type="text" class="descriptionInput">
                <input type="submit" value="Dodaj">
            </form>
        </td>
    </tr>

{%else%}
    </table>
    <p>Brak uczniów w klasie</p> 
{%endfor%}

{% endblock %}