<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block header %}<h3>Dziennik Nauczyciela</h3>{% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    {% block right_column %}
                        <p>kolumna na różna informacje</p>
                    {% endblock %}
                </div>
                <div class="col-xs-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block footer %}
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <span class="text-info">Projekt końcowy na zaliczenie kursu w CodersLab.</span><br>
                    <span class="text-info">Autor: Kamil Bogdański. Create: 10.2016</span>
                </div>
            </div>
        </nav>
        {% endblock %}
    </body>
</html>